@font-face {
  font-family: 'Rocher';
  src: url('../public/fonts/RocherColorGX.woff2') format('woff2');
}


.App {
  text-align: center;
  font-family: 'Rocher', sans-serif; 
}

.button {
  /* background-color: #04AA6D;  */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 6px 20px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.1);
  background-color:white;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.396);
  color: white;
}

.button:disabled,
.button.disabled {
  opacity: 0.6; 
  /* filter: blur(2px);  */
  cursor: not-allowed;
}

.buttoncorrect {
  /* background-color: #04AA6D;  */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 6px 20px;
  font-size: 23px;
  border-radius: 35px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(to bottom, rgb(9, 169, 12) 0%, rgb(9, 169, 12) 50%, rgb(7, 128, 9) 100%);
  /* background-color:#f5cb56; */
  background-color:rgb(9, 169, 12);
  font-weight: bold;
}

.buttoncorrect:hover {
  /* background-color: rgb(219, 194, 119); */
  background-color:rgb(108, 196, 109);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, rgb(108, 196, 109) 0%, rgb(108, 196, 109) 50%, rgb(77, 140, 78) 100%);
  color: white;
}

.buttoncorrect:disabled,
.buttoncorrect.disabled {
  opacity: 0.4; 
  /* filter: blur(2px);  */
  cursor: not-allowed;
}

.buttontaboo {
  /* background-color: #04AA6D;  */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 6px 20px;
  font-size: 23px;
  border-radius: 35px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, #d21330 0%, #d21330 50%, #a60f27 100%);
  /* background-color:#62dafb; */
  background-color:#d21330;
}

.buttontaboo:hover {
  /* background-color: rgb(167, 216, 230); */
  background-color: #e15e72;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #e15e72 0%, #e15e72 50%, #ad4c5a 100%);
  color: white;
}

.buttontaboo:disabled,
.buttontaboo.disabled {
  opacity: 0.4; 
  /* filter: blur(2px);  */
  cursor: not-allowed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.taboo-card {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; 
  margin-top: 20px; 
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.title-box {
  background-color: #61dafb; 
  border: 2px solid #333; 
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}


.taboo-words {
  list-style: none;
  padding: 0;
  margin: 0;
}

.taboo-words li {
  font-size: 20px;
  margin-bottom: 5px;
  letter-spacing: 1.1px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-visible {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 30px; 
  cursor: pointer;
}
