@font-face {
  font-family: 'Rocher';
  src: url('../public/fonts/RocherColorGX.woff2') format('woff2');
}


.App {
  text-align: center;
  font-family: 'Rocher', sans-serif; 
}

/* h1, h2, h3, h4, h5, h6, label, option {
  font-family: 'Rocher', sans-serif;
} */

/* .h1,
.title-box,
.card-title,
.taboo-words { */
  /* Apply 'sans-serif' as a fallback for these specific elements */
  /* font-family: sans-serif;
} */

.button {
  /* background-color: #04AA6D;  */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 6px 20px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.1);
  background-color:white;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.396);
  color: white;
}

.button:disabled,
.button.disabled {
  opacity: 0.6; 
  /* filter: blur(2px);  */
  cursor: not-allowed;
}

.buttoncorrect {
  /* background-color: #04AA6D;  */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 6px 20px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.1);
  background-color:#f5cb56;
}

.buttoncorrect:hover {
  background-color: rgb(219, 194, 119);
  color: white;
}

.buttoncorrect:disabled,
.buttoncorrect.disabled {
  opacity: 0.4; 
  /* filter: blur(2px);  */
  cursor: not-allowed;
}

.buttontaboo {
  /* background-color: #04AA6D;  */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  cursor: pointer;
  font-family: sans-serif;
  padding: 6px 20px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.1);
  background-color:#62dafb;
}

.buttontaboo:hover {
  background-color: rgb(167, 216, 230);
  color: white;
}

.buttontaboo:disabled,
.buttontaboo.disabled {
  opacity: 0.4; 
  /* filter: blur(2px);  */
  cursor: not-allowed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.taboo-card {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center the taboo card horizontally */
  margin-top: 50px; /* Add some top margin for better visual appearance */
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.title-box {
  background-color: #61dafb; /* Background color of the bordered box */
  border: 2px solid #333; /* Color of the border */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}


.taboo-words {
  list-style: none;
  padding: 0;
  margin: 0;
}

.taboo-words li {
  font-size: 20px;
  margin-bottom: 5px;
}
